@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--prime-color);
  font-family: Arial, Helvetica, sans-serif;
}

:root {
  --background: #fde4f2;
  --secondary-background: #ef2e67;
  --hover-bg: #fbb1d6;
  --prime-color: #ff66b2;
  --prime-hover: #ca538f;
  --btn-bg: var(--prime-color);
  --btn-hover: var(--prime-hover);
  --text-color: #e68bbe;
}

.nav-links{
  position: relative;
}
.nav-links:after{
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 2px;
  background-color: var(--prime-color);
  transition: 0.4s
}
.nav-links:before{
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  width: 0;
  height: 2px;
  background-color: var(--prime-color);
  transition: 0.4s
}
.nav-links:hover::after, .nav-links:hover::before{
  width: 100%;
}